body{
    background-color: #042326;
    color: white;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    height: 700px;
    align-items: center;
    margin: 0;
}

button {
    background-color: #0F5959;
    color: white;
    font-family: "Nunito", sans-serif;

}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 80%;
}